* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  border: 10px solid gold;
  height: 200vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: url("images/tree.jpg"); */
}

.tree-img-container {
  width: 40%;
  height: 63vh;
}

.tree-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.wrapper {
  width: 100%;
  border: 5px solid purple;
  display: flex;
  justify-content: space-evenly;
}

.square {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

p {
  color: white;
  border: 2px solid black;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}
